<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml" >
	<head >
		<meta charset="utf-8" / >
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title > All Path Algorithm </title >
		<script src="https://code.jquery.com/jquery-1.11.1.js">     </script>
		<link rel="preconnect" href="https://fonts.googleapis.com" >
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
		<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet" >
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" >
		<link rel="stylesheet" href="css/styleSheet.css" >
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
	</head >
	<body img src="/images/algorithm.jpg" >

	<div class="hold">
		<div class="page" >

			<h1 > All Path Algorithm </h1 >
			<h2 > Help Page </h2 >
			<nav class="nav" >
				<div class="nav--border" >
					<ul >

						<a href="/home" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > home</i >
							</div >
							<span class="nav__label" > Home Page</span >
						</a >

						<a href="/demo" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > code</i >
							</div >
							<span class="nav__label" > Demo Page</span >
						</a >

						<div class="help" >
						<a href="/help" class="help--link" >
							<div class="help--icon-container" >
								<i class="material-icons" > help_outline</i >
							</div >
							<span class="help__label" > Help</span >
						</a >
						</div >

					</ul>
				</div >
			</nav >
		</div >

		<div class="main" >
			<h3 > User manual </h3 >
			
			<div class=instructions>
			
				<h4>To use the All Path Finding Algorithm web app to find the shortest path 
				follow the following steps:</h4>
			
				1. Navigate to the 'Demo Page'.  
				<br>
				<img src = "/images/demonav.jpeg"  alt=”demo naviagation” class="img">
				<br><br>
				2. Select a graph file from your file explorer named 'graph.csv'.
				
					You can download a sample graph.csv file from <a href="download/graph.csv">here.</a>
					<form ref='uploadForm' id='uploadForm' action='/download'  method='post' encType="multipart/form-data">
					
					
					<br>
					</form>
				
				3. Upload the graph file to the system using 'Upload' button.
				<br>
				   A success message as shown above will display if file is succesfully uploaded.
				   <br>
				   <br>
				<img src = "/images/uploadsuccess.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br><br>
				4. Run the program using the 'Run program' button.
				<br>
				<img src = "/images/run-btn.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br><br>
				5. Enter a Start Node in the text box provided.
				<br>
				<img src = "/images/startNodetxtbx.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br><br>
				6. Enter an End Node in the text box provided.
				<br>
				<img src = "/images/endNodetxtbx.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br><br>
				7. Click the search button to display the shortest path.
				<br>
				<img src = "/images/searchBtn.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br><br>
			
			<h3>Error list</h3>
				<h4>The following are errors displayed when running the All Path Algorithm webapp and how to solve them</h4>
				
				1. Kindly select a file to upload.
				<br>
				<img src = "/images/uploaderr.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br>
				<br>
				solution: select a graph.csv file from your file explorer to upload.
				<br><br>
				2. Kindly upload a graph file to run the program
				<br>
				<img src = "/images/runerr.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br>
				<br>
				solution: Upload a graph file successfuly to run the program.
				<br><br>

				3. Enter a Start node and End node to search for the shortest path
				<br>
				<img src = "/images/emptyNoderr.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br>
				<br>
				solution: User must enter both a 'Start Node' and 'End Node' to the respective input fields to search for the shortest path
				<br><br>
				4. graph.csv file has been reset. Navigate to the Demo Page and Upload a new graph.csv file
				<br>
				<img src = "/images/reseterr.JPG" width=” “ height=” “ alt=”demo naviagation” class="img">
				<br>
				<br>
				solution: Navigate to the Demo Page and Upload a new graph.csv file
				<br>
			
			</div
			
	</body >
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>


<script>

  function addDarkmodeWidget() {
    new Darkmode(options).showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);

  const options = {
    bottom: '64px', // default: '32px' 
    right: '32px', // default: '32px' 
    left: 'unset', // default: 'unset' 
    time: '0.5s', // default: '0.3s' 
    mixColor: '#fff', // default: '#fff' 
    backgroundColor: '#fff', // default: '#fff' 
    buttonColorDark: '#100f2c', // default: '#100f2c' 
    buttonColorLight: '#fff', // default: '#fff' 
    saveInCookies: false, // default: true, 
    label: '&#127763 ', // default: '' 
    autoMatchOsTheme: true // default: true
}
</script> 
</html >
