<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Path Algorithm </title>
    <link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body img src="/images/algorithm.jpg">
	   <div id="outer">
        
	   	<h1> All Path Algorithm </h1>

			<ul>
			<li><a href="/home"> Home Page </a></li>
			<li><a href="/demo"> Demo Page </a></li>
			</ul>

	   	



        
	   </div>
	</body>
</html>