body {
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    overflow: hidden;
}


#outer {
    background-color: #DEE2E6;
    width: 800px;
    padding: 20px;
    margin: auto;
}

h1 {
    font-family: 'Scheherazade New', serif;
    text-align: center;
    color: black;
}

li {
    display: inline;
    list-style: none;
    margin: 150px;
    color: black;
}

ul {
    text-orientation: sideways;
    text-align: center;

}

p {
    text-align: center;
    color: black;
}


