body {
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    overflow: hidden;
}


#outer {
    background-color: #DEE2E6;
    width: 800px;
    padding: 20px;
    margin: auto;
}

#run {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: black;
}

li {
    display: inline;
    list-style: none;
    margin: 150px;
    color: black;
}

ul {
    text-orientation: sideways;
    text-align: center;
}

p {
    text-align: center;
    color: black;
}

#box {
    text-align: center;
    color: black;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: whitesmoke;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    align-content: center;
    height: 100px;
    width: 350px;
}
