<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml" >
	<head >
		<meta charset="utf-8" / >
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title > All Path Algorithm </title >
		<link rel="preconnect" href="https://fonts.googleapis.com" >
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
		<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet" >
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" >
		<link rel="stylesheet" href="css/styleSheet.css" >
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
	</head >
	<body img src="/images/algorithm.jpg" >

		<div class="page" >

			<h1 > All Path Algorithm </h1 >
			<h2 > Help Page </h2 >
			<nav class="nav" >
				<div class="nav--border" >
					<ul >

						<a href="/home" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > home</i >
							</div >
							<span class="nav__label" > Home Page</span >
						</a >

						<a href="/demo" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > code</i >
							</div >
							<span class="nav__label" > Demo Page</span >
						</a >

						<div class="help" >
						<a href="/help" class="help--link" >
							<div class="help--icon-container" >
								<i class="material-icons" > help_outline</i >
							</div >
							<span class="help__label" > Help</span >
						</a >
						</div >

					</ul>
				</div >
			</nav >
		</div >

		<div class="main" >
			<p > User manual and Common Q&A <p/ >
			<p > <a href="https://github.com/marioQC16/All-Path/blob/AllPathWebJS/demo%20file.csv" > Download demo graph file </a > </p >
			<p >
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Duis at consectetur lorem donec massa
				sapien faucibus et. Maecenas sed enim ut sem viverra aliquet eget sit. Commodo viverra
				maecenas accumsan lacus vel facilisis volutpat. Non pulvinar neque laoreet suspendisse
				interdum. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris.
				Mauris pellentesque pulvinar pellentesque habitant morbi. Elementum nisi quis eleifend
				quam adipiscing vitae proin sagittis. Maecenas sed enim ut sem viverra aliquet eget.
				Quis hendrerit dolor magna eget est lorem ipsum. Sagittis orci a scelerisque purus semper
				eget duis. Donec et odio pellentesque diam.
			</p >

			<div id="box" >
				<label for="file-upload" class="custom-file-upload">
					<p> <i class="material-icons" > upload_file </i></p>
					<p> Drag and drop a file or click to upload a graph from file explorer </p>
				</label >
				<input id="file-upload" type="file" / >
			</div >

			<p >
				<div id="run" >
					<button class="button" id='script' >
						<a href="/output" > Run All Path Algorithm </a >
					</button >
				</div >
			</p >
		</div >
	</body >
</html >
