<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Path Algorithm </title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
   
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/output.css">
</head>
 <body img src="/images/algorithm.jpg">
	   <div id="outer">
        
	   	<h1> All Path Algorithm </h1>

			<ul>
			<li><a href="/home"> Home Page </a></li>
			<li><a href="/demo"> Demo Page </a></li>
			</ul>

        <p>~program decription~</p>
	   	<div id="box">

	   		<label for="file-upload" class="custom-file-upload">
	   		<i class="fa fa-cloud-upload"></i> Drag and drop a file or click to Upload a graph from file explorer
	   		</label>
	   		<input id="file-upload" type="file" />
			</div>

			<p>
			<div id="run">
			 <input type="button" id='script' value=" Run Algorithm " onclick="href="/output"  margin: 0 auto;;>

			 </div>
			 </p>
			
		<p> The algorithm ran successfully! </p>

	   	</p>

	   	<p>To find the shortest path from one node to another in the file, Enter the initial node and the destination node</p>

	   	<p>
	   		Start node : <input type="text" id="initialNode" size="12" value="">
	   	</p>

	   	<p>
	   		Destination node: <input type="text" id="destinationNode" size="12" value="">
	   	</p>



        
	   </div>
	</body>
</html>